@import "_colors.scss";

// Light Theme
$bg-primary: $gray-200;
$bg-secondary: $white;

$text-primary: $gray-900;
$text-secondary: $gray-600;

$icon-primary: $gray-900;
$icon-secondary: $gray-600;

$border: $gray-200;

//Dark Theme
$bg-primary-dark: $gray-900;
$bg-secondary-dark: $gray-700;

$text-primary-dark: #c9d1d9;
$text-secondary-dark: #8b949e;

$icon-primary-dark: #adbac7;
$icon-secondary-dark: #636e7b;

$border-dark: #636e7b;

// Accent Colors
$accent-primary: $purple;
$accent-secondary: $yellow;
