@import '_variables.scss';
@import '_colors.scss';
@import '_mixins.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

a {
	text-decoration: none;
}

:root {
	--bg-primary: #{$bg-primary};
	--bg-secondary: #{$bg-secondary};

	--text-primary: #{$text-primary};
	--text-secondary: #{$text-secondary};

	--icon-primary: #{$icon-primary};
	--icon-secondary: #{$icon-secondary};
}

.dark {
	--bg-primary: #{$bg-primary-dark};
	--bg-secondary: #{$bg-secondary-dark};

	--text-primary: #{$text-primary-dark};
	--text-secondary: #{$text-secondary-dark};

	--icon-primary: #{$icon-primary-dark};
	--icon-secondary: #{$icon-secondary-dark};
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;

	background: var(--bg-primary);
	color: var(--text-primary);
}

svg {
	height: 16px;
	width: 16px;
	fill: var(--icon-primary);
}

.container {
	z-index: -99999;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	@extend .center-center;
}

.bg {
	z-index: -99999;
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: end;
	align-items: flex-end;

	&-text {
		font-size: 120px;
		color: rgba($color: $icon-secondary, $alpha: 0.1);
	}
}

.user {
	display: flex;
	align-items: center;
	flex-direction: column;

	&-icon,
	img {
		@extend .center-center;
		@extend .shadow-10;

		height: 110px;
		width: 110px;

		border-radius: 50%;
		background-color: var(--bg-secondary);

		svg {
			height: 70px;
			width: 70px;
		}
	}

	&-name {
		padding-top: 8px;
		font-size: 32px;
		line-height: 1.4;
		color: var(--text-primary);
	}

	&-email {
		color: var(--text-secondary);
	}

	.social {
		display: flex;
		padding: 24px;

		&-icon {
			cursor: pointer;
			padding: 0 32px;
			margin: 24px 0 36px;
			svg {
				fill: var(--icon-secondary);
				height: 36px;
				width: 36px;
			}

			&:hover {
				svg {
					fill: var(--icon-primary);
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.social {
		flex-direction: column;
		&-icon {
			margin: 24px 0 36px;
		}
	}
}

.switch {
	bottom: 16px;
	left: calc(50% - 28px);
	position: absolute;

	--line: var(--icon-secondary);
	--dot: var(--text-primary);
	--circle: var(--icon-primary);
	--duration: 0.3s;
	--text: var(--icon-primary);
	cursor: pointer;

	input {
		display: none;
		& + div {
			position: relative;
			&:before,
			&:after {
				--s: 1;
				content: '';
				position: absolute;
				height: 4px;
				top: 10px;
				width: 24px;
				background: var(--line);
				transform: scaleX(var(--s));
				transition: transform var(--duration) ease;
			}
			&:before {
				--s: 0;
				left: 0;
				transform-origin: 0 50%;
				border-radius: 2px 0 0 2px;
			}
			&:after {
				left: 28px;
				transform-origin: 100% 50%;
				border-radius: 0 2px 2px 0;
			}
			span {
				padding-left: 56px;
				line-height: 24px;
				color: var(--text);
				&:before {
					--x: 0;
					--b: var(--circle);
					--s: 4px;
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					box-shadow: inset 0 0 0 var(--s) var(--b);
					transform: translateX(var(--x));
					transition: box-shadow var(--duration) ease,
						transform var(--duration) ease;
				}
				&:not(:empty) {
					padding-left: 64px;
				}
			}
		}
		&:checked {
			& + div {
				&:before {
					--s: 1;
				}
				&:after {
					--s: 0;
				}
				span {
					&:before {
						--x: 28px;
						--s: 12px;
						--b: var(--dot);
					}
				}
			}
		}
	}
}

//preloader

.loading-screen {
	z-index: 999999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: #1b1b1b;
	// background-color: #1b1b1b;
	background: var(--bg-primary);

	.ripple-full {
		// color: #1b1b1b;
		// background: gray;
		display: flex;
		height: 24px;
		width: 96px;
		justify-content: space-around;
		align-items: center;

		.ripple {
			//   background: #4285f4;
			background: var(--icon-secondary);
			height: 8px;
			width: 8px;
			border-radius: 50%;
			animation: ripple-load 1s ease-in-out 500ms infinite alternate;
		}

		.ripple2 {
			//   background: #db4437;
			background: var(--icon-secondary);

			height: 8px;
			width: 8px;
			border-radius: 50%;
			animation: ripple-load 1s ease-in-out 250ms infinite alternate;
		}

		.ripple3 {
			//   background: #f4b400;
			background: var(--icon-secondary);

			height: 8px;
			width: 8px;
			border-radius: 50%;
			animation: ripple-load 1s ease-in-out 150ms infinite alternate;
		}

		.ripple4 {
			//   background: #0f9d58;
			background: var(--icon-secondary);

			height: 8px;
			width: 8px;
			border-radius: 50%;
			animation: ripple-load 1s ease-in-out 50ms infinite alternate;
		}

		@keyframes ripple-load {
			0% {
				transform: scaleX(0, 0);
			}
			50% {
				transform: scale(3, 3);
			}
			100% {
				transform: scale(1, 1);
			}
		}
	}
}

@keyframes line {
	from {
		width: 0;
	}
	to {
		width: 100vw;
	}
}

@keyframes apearcer {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes apearcer2 {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes apearcer3 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
